.menu {
    background-color: $secondary-color;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    height: 50px;
    gap:10px;
    &__icon {
        margin-right:20px;
        color:white;
        & a {
            color:white;
        }
    }
    &__top {
        display:flex;
        align-items:center;
        gap:10px;
        height:50px;
        
    }
    &__button {
        background-color: $primary-color;
        height: 100%;
        width:60px;
        font-size:30px;
        text-align:center;
        font-weight:400;
        padding-top:5px;
        padding-bottom:5px;
        & a {
            color:white;
        }
    }
    &__title {
        font-size:20px;
        font-weight:500;
        & a {
            color:white;
        }
    }
}

.dropdownMenu {
    background-color:$primary-color;
    color:white;

    & a {
        color:white;
    }
}

.menuArrow {
    border-bottom:1px solid white;
    padding:10px;
}